<div class="container">
  <div class="container">
    <div class="row d-flex justify-content-around align-items-center row-margin-05">
      <header>
        <h1>Notificações</h1>
      </header>
      <form #formConfigs>
        <div class="row d-flex justify-content-around align-items-center border rounded bg-light row-margin-05">
          <div class="row d-flex justify-content-around align-items-center row-margin-all-05">
            <div class="w-50 p-1">
              <label class="col-form-label" for="favoriteContact">Favorite contact:</label>
              <input class="form-control"
                     id="favoriteContact"
                     placeholder="Notificar quando?" type="text"
                     name="favoriteContact"
                     [(ngModel)]="commonsService.config.favoriteContact"/>
            </div>
            <div class="w-50 p-1">
              <label class="col-form-label" for="applicationNotify">App to notify:</label>
              <input class="form-control"
                     name="applicationNotify"
                     id="applicationNotify"
                     placeholder="Notificar quando?" type="text"
                     [(ngModel)]="commonsService.config.applicationNotify"/>
            </div>
          </div>
          <div class="row d-flex justify-content-around align-items-center row-margin-all-05">

            <div class="w-auto p-1">
              <button class="btn btn-primary" id="save" (click)="saveConfigs()">Save</button>
            </div>
          </div>
        </div>
      </form>

    </div>

    <div class="row d-flex justify-content-around align-items-center border rounded row-margin-05">
      <div class="scrollDiv">
        <div id="messages" class="d-grid gap-3 row-margin-notify">
          <div *ngFor="let notification of notifications">
            <div [ngSwitch]="notification.type">
              <div *ngSwitchCase="'default'">
                <div class="p-2 border rounded bg-light">
                  {{notification.text}}
                </div>
              </div>
              <div *ngSwitchCase="'contact'">
                <div class="p-2 border rounded bg-green">
                  {{notification.text}}
                </div>
              </div>
              <div *ngSwitchCase="'app'">
                <div class="p-2 border rounded bg-blue">
                  {{notification.text}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
