<!--<button (click)="createDiv()">Create div</button>-->
<!--<div class="container">-->
<!--  <div *ngFor="let div of divs" id="div{{div}}">-->
<!--    <div [ngSwitch]="div">-->
<!--      <div *ngSwitchCase="'teste1'">-->
<!--        <h1>Div 1</h1>-->
<!--      </div>-->
<!--      <div *ngSwitchCase="'2'">-->
<!--        <h1>Div 2</h1>-->
<!--      </div>-->
<!--      <div *ngSwitchCase="'3'">-->
<!--        <h1>Div 3</h1>-->
<!--      </div>-->
<!--      <div *ngSwitchDefault>-->
<!--        <h1>OPS</h1>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
