<div class="container">

  <div class="container">
    <div class="row d-flex justify-content-around align-items-center">
      <apx-chart
        [title]="getTitleSeries('hostName')"
        [theme]="chartTheme"
        [series]="getSeries('hostName')"
        [chart]="chart"
        [plotOptions]="plotOptions"
        [xaxis]="xaxis"
        [legend]="legend"
        [noData]="noData"></apx-chart>
    </div>
    <div class="row d-flex justify-content-around align-items-center">
      <apx-chart
        [series]="getColumnSeries('hostName')"
        [chart]="columnChart"
        [plotOptions]="columnChartOptions"
        [responsive]="columnChartResponsive"
        [xaxis]="getColumnCategories('hostName')"
        [legend]="legend"
        [yaxis]="yAxys"
        [dataLabels]="columnDataLabel"
        [fill]="fill"></apx-chart>
    </div>
    <div class="row d-flex justify-content-around align-items-center">
      <div class="col-sm">
        <apx-chart
          [title]="getTitle('applicationName')"
          [theme]="chartTheme"
          [series]="getData('applicationName')"
          [chart]="chartPie"
          [labels]="getLabels('applicationName')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>

      <div class="col-sm">
        <apx-chart
          [title]="getTitle('project')"
          [theme]="chartTheme"
          [series]="getData('project')"
          [chart]="chartPie"
          [labels]="getLabels('project')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>
    </div>
    <div class="row d-flex justify-content-around align-items-center">
      <div class="col-sm">
        <apx-chart
          [title]="getTitle('language')"
          [theme]="chartTheme"
          [series]="getData('language')"
          [chart]="chartPie"
          [labels]="getLabels('language')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>

      <div class="col-sm">
        <apx-chart
          [title]="getTitle('category')"
          [theme]="chartTheme"
          [series]="getData('category')"
          [chart]="chartPie"
          [labels]="getLabels('category')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>
    </div>

    <div class="row d-flex justify-content-around align-items-center">
      <div class="col-sm">
        <apx-chart
          [title]="getTitle('domain')"
          [theme]="chartTheme"
          [series]="getData('domain')"
          [chart]="chartPie"
          [labels]="getLabels('domain')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>

      <div class="col-sm">
        <apx-chart
          [title]="getTitle('entity')"
          [theme]="chartTheme"
          [series]="getData('entity')"
          [chart]="chartPie"
          [labels]="getLabels('entity')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>
    </div>
    <div class="row d-flex justify-content-around align-items-center">
      <div class="col-sm">
        <apx-chart
          [title]="getTitle('osName')"
          [theme]="chartTheme"
          [series]="getData('osName')"
          [chart]="chartPie"
          [labels]="getLabels('osName')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>

      <div class="col-sm">
        <apx-chart
          [title]="getTitle('hostName')"
          [theme]="chartTheme"
          [series]="getData('hostName')"
          [chart]="chartPie"
          [labels]="getLabels('hostName')"
          [responsive]="responsive"
          [legend]="legend"
          [noData]="noData"
          [plotOptions]="plotOptions"
          [tooltip]="tooltip"></apx-chart>
      </div>
    </div>
    <!--    <div class="row d-flex justify-content-around align-items-center">-->
    <!--      <apx-chart-->
    <!--        [title]="getTitleSeries('applicationName')"-->
    <!--        [theme]="chartTheme"-->
    <!--        [series]="getSeries('applicationName')"-->
    <!--        [chart]="chart"-->
    <!--        [plotOptions]="plotOptions"-->
    <!--        [xaxis]="xaxis"-->
    <!--        [legend]="legend"-->
    <!--        [noData]="noData"></apx-chart>-->
    <!--    </div>-->
  </div>
</div>
