
<div>
  <apx-chart
    [series]="getSeries('hostName')"
    [chart]="chart"
    [plotOptions]="plotOptions"
    [xaxis]="xaxis"></apx-chart>
</div>

<div>
  <apx-chart
    [series]="getData('hostName')"
    [chart]="chartPie"
    [labels]="getLabels('hostName')"
    [responsive]="responsive"></apx-chart>
</div>

<div>
  <apx-chart
    [series]="getData('category')"
    [chart]="chartPie"
    [labels]="getLabels('category')"
    [responsive]="responsive"></apx-chart>
</div>

<div>
  <apx-chart
    [series]="getData('language')"
    [chart]="chartPie"
    [labels]="getLabels('language')"
    [responsive]="responsive"></apx-chart>
</div>

<div>
  <apx-chart
    [series]="getData('applicationName')"
    [chart]="chartPie"
    [labels]="getLabels('applicationName')"
    [responsive]="responsive"></apx-chart>
</div>
